################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoCEd/bin/Release
/CoCEd/bin/Debug
/CoCEd/bin
/CoCEd/obj/Release
/CoCEd/obj/Debug
/CoCEd/obj
